@font-face {
    font-family: 'ralewayregular';
    src: url('../font/raleway-regular.woff2') format('woff2'), url('..font/raleway-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'ralewayregular';
}

.main_width {
    width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid red;
}

header, section, footer {
    width: 100%;
}

header {
    background-color: black;
    height: 50px;
}

#logo {
    color: white;
    float: left;
}

span {
    color: #2eb9a0;
}

nav {
    float: right;
}

#first_level {
    position: relative;
}

#second_level {
    position: absolute;
}

#first_level li {
    display: inline-block;
}

#second_level li {
    display: block;
}

.large_box {
    height: 450px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f7f7+63,c9c9c9+100 */
    background: rgb(247, 247, 247);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(247, 247, 247, 1) 63%, rgba(201, 201, 201, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(247, 247, 247, 1) 63%, rgba(201, 201, 201, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(247, 247, 247, 1) 63%, rgba(201, 201, 201, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#c9c9c9', GradientType=0);
    /* IE6-9 */
}

#sign_left {
    float: left;
    font-size: 60px;
    color: #2eb9a0;
    width: 10%;
    position: absolute;
    top: 135px;
    left: 50px
}

#sign_right {
    float: left;
    font-size: 60px;
    color: #2eb9a0;
    width: 10%;
    position: absolute;
    bottom: 55px;
    left: 450px;
}

.medium_box {
    float: left;
    width: 45%;
    position: relative;
    text-align: center;
    margin-top: 65px;
}

#black_chair {
    background: url("../images/black_chair.png");
    height: 350px;
    width: 480px;
    background-repeat: no-repeat;
    margin-left: 40px;
    background-size: contain;
    margin-top: 20px;
}

#first_btn {
    font-size: 20px;
    font-weight: 400;
    height: 40px;
    width: 215px;
    border-radius: 7px;
    color: white;
    background-color: #2eb9a0;
    border: none;
}

#middle_logo {
    margin-top: 75px;
}

#middle_text {
    margin: 25px;
}

.large_center_box {
    height: 295px;
    background-color: white;
}

.small_box {
    float: left;
    width: 28%;
    margin-top: 23px;
    margin-left: 60px;
    margin-right: -40px;
}

#box1 {
    background: url("../images/box1_img.jpg");
    height: 200px;
    background-repeat: no-repeat;
    position: relative;
    background-size: contain;
}

#box2 {
    background: url("../images/box2_img.jpg");
    height: 200px;
    background-repeat: no-repeat;
    position: relative;
    background-size: contain;
}

.textfield {
    height: 54px;
    width: 100%;
    background-color: white;
    opacity: 0.50;
    position: absolute;
    top: 125px;
}

#small_logo {
    font-weight: bold;
}

#small_logo_inside {
    font-weight: bold;
    margin-left: 12px;
    margin-top: 12px;
}

#green_line {
    height: 7px;
    width: 138px;
    background-color: #2eb9a0;
    margin-bottom: 10px;
    margin-top: 5px;
}

#green_line_inside {
    height: 7px;
    width: 138px;
    background-color: #2eb9a0;
    margin-left: 11px;
}

#inner_small_box {
    border: 2px solid lightgrey;
    height: 213px;
    box-sizing: border-box;
    padding: 20px;
}

#small_text {
    color: grey;
}

.large_center_box2 {
    height: 650px;
    background-color: whitesmoke;
}

#title {
    padding-left: 60px;
    padding-top: 35px;
}

#smaller_logo {
    padding-bottom: 7px;
}

#green_line2 {
    height: 7px;
    width: 280px;
    background-color: #2eb9a0;
}

.cennik_box {
    float: left;
    width: 28%;
    height: 425px;
    border: 2px solid lightgrey;
    text-align: center;
    position: relative;
    margin-top: 80px;
    margin-left: 60px;
    margin-right: -40px;
    background-color: ghostwhite;
}

.cennik_box_center {
    float: left;
    width: 28%;
    height: 425px;
    border: 2px solid #2eb9a0;
    text-align: center;
    position: relative;
    margin-top: 80px;
    margin-left: 60px;
    margin-right: -40px;
    background-color: #2eb9a0;
}

h5 {
    font-size: large;
    padding: 20px;
}

#h5_green {
    color: #2eb9a0;
}

#h5_white {
    color: white;
}

.middle_circle {
    border: 2px solid lightgrey;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: absolute;
    top: -38px;
    right: 113px;
    background-color: white;
}

.little_circle {
    border-radius: 50%;
    height: 25px;
    width: 25px;
    position: absolute;
    bottom: 12px;
    right: 13px;
    background-color: lightgrey;
}

.large_circle {
    border: 2px solid lightgrey;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 60px;
    right: 88px;
    background-color: white;
}

.little_circle_center {
    border-radius: 50%;
    height: 25px;
    width: 25px;
    position: absolute;
    bottom: 12px;
    right: 13px;
    background-color: white;
}

.middle_circle_center {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: absolute;
    top: -38px;
    right: 113px;
    background-color: #2eb9a0;
}

.large_circle_center {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 60px;
    right: 88px;
    background-color: white;
}

table {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    top: 187px;
    border-collapse: collapse;
}

td {
    padding: 10px;
}

#td_one {
    background-color: lightgrey;
}

#td_two {
    background-color: whitesmoke;
}

#td_three {
    background-color: white;
}

#cennik_button_green {
    font-size: 20px;
    font-weight: 400;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    color: white;
    background-color: #2eb9a0;
    border: none;
    box-sizing: border-box;
    position: absolute;
    top: 365px;
    right: 63px;
}

#cennik_button_white {
    font-size: 20px;
    font-weight: 400;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    color: #2eb9a0;
    background-color: white;
    border: none;
    position: absolute;
    top: 365px;
    right: 63px;
    box-sizing: border-box;
}

.large_end_box {
    height: 500px;
    background-color: white;
}

.medium_end_box1 {
    float: left;
    width: 59%;
    margin-left: 60px;
}

.medium_end_box2 {
  float: left;
  width: 34%;
  margin-top: 15px;
  margin-left: -15px;
}

#form_small1 {
    display: block;
    margin-top: 50px;
    width: 500px;
    height: 20px;
    border: 1px solid #2eb9a0;
    font-size: 25px;
    padding: 12px;
}

#form_small2 {
    display: block;
    margin-top: 20px;
    width: 500px;
    height: 20px;
    border: 1px solid #2eb9a0;
    font-size: 25px;
    padding: 12px;
}

#form_large {
  display: block;
  margin-top: 20px;
  width: 500px;
  height: 140px;
  border: 1px solid #2eb9a0;
  font-size: 25px;
  padding: 12px
}

.red_chair {
    background: url("../images/red_chair.png");
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
}

#data {
    position: relative;
}

#checkbox_btn {
    margin-top: 25px;
    width: 40px;
    height: 40px;
    -webkit-appearance: none;
    border: 1px solid #2eb9a0;
    background: url(../images/form_ok.jpg);
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position-y: 5px;
    background-position-x: 4px;
}

#data_permission {
    position: absolute;
    top: 27px;
    left: 57px;
}

#end_button {
  font-size: 30px;
  font-weight: bolder;
  height: 50px;
  width: 285px;
  border-radius: 7px;
  color: white;
  background-color: #2eb9a0;
  border: none;
  position: absolute;
  top: 85px;
  left: 0px;
}

footer {
    height: 50px;
    color: grey;
}

#copyright {
    float: left;
    width: 65%;
    margin-left: 48px;
    margin-top: 5px;
}

.social {
    float: left;
    width: 15%;
}

#flickr {
    background: url("../images/flickr.png");
    background-repeat: no-repeat;
    height: 25px;
    width: 27px;
    float: left;
    background-size: contain;
}

#vimeo {
    background: url("../images/vimeo.png");
    background-repeat: no-repeat;
    height: 25px;
    width: 27px;
    float: left;
    background-size: contain;
}

#pinterest {
    background: url("../images/pinterest.png");
    background-repeat: no-repeat;
    height: 25px;
    width: 27px;
    float: left;
    background-size: contain;
}

#twitter {
    background: url("../images/twitter.png");
    background-repeat: no-repeat;
    height: 25px;
    width: 27px;
    float: left;
    background-size: contain;
}

#logo_end {
    margin-top: 5px;
    font-size: smaller;
}

#end {
    font-weight: bolder;
    color: grey;
}
